---
import type { Product } from "../../lib/wix/types";
import { actions } from "astro:actions";
import SubmitButton from "./submit-button.astro";
import WixStoresAddToCart from "../wix/wix-stores-add-to-cart.astro";
---
<WixStoresAddToCart product={Astro.props.product}>
  {(selectedVariantId, addItemToCartResult) => (
    <>
      <SubmitButton
        availableForSale={Astro.props.product.availableForSale}
        selectedVariantId={selectedVariantId}
      />
      <p aria-live="polite" class="sr-only" role="status">
        {addItemToCartResult?.data}
      </p>
    </>
  )}
</WixStoresAddToCart>
