---
import ThreeItemGridItem from "./three-item-grid-item.astro";
import WixStoresCollection from "../wix/wix-stores-collection.astro";
---

<WixStoresCollection collection="hidden-homepage-featured-items">
  {(products: any) => {
    const homepageItems = products.slice(0, 3);
    return (
      <section
        class="mx-auto grid max-w-screen-2xl gap-4 px-4 pb-4 md:grid-cols-6 md:grid-rows-2 lg:max-h-[calc(100vh-200px)]"
      >
        <ThreeItemGridItem size="full" item={homepageItems[0]} />
        <ThreeItemGridItem size="half" item={homepageItems[1]} />
        <ThreeItemGridItem size="half" item={homepageItems[2]} />
      </section>
    );
  }}
</WixStoresCollection>
