---
import Grid from "../../components/grid/index.astro";
import Layout from "../../components/layout/layout.astro";
import ProductGridItems from "../../components/layout/product-grid-items.astro";
import { defaultSort, sorting } from "../../lib/constants";
import SearchLayout from "../../components/layout/search/layout.astro";
import WixStoresCollection from "../../components/wix/wix-stores-collection.astro";

const searchParams = Object.fromEntries(Astro.url.searchParams.entries());
const params = Astro.params;
const { sort } = searchParams;
const { sortKey, reverse } =
  sorting.find((item) => item.slug === sort) || defaultSort;
---

<Layout>
  <SearchLayout>
    <WixStoresCollection collection={params.collection!} sortKey={sortKey} reverse={reverse}>
      {(products: any) => (
        <section>
          {
            products.length === 0 ? (
              <p class="py-3 text-lg">{`No products found in this collection`}</p>
            ) : (
              <Grid class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                <ProductGridItems products={products} />
              </Grid>
            )
          }
        </section>
      )}
    </WixStoresCollection>
  </SearchLayout>
</Layout>
